* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html body {
  height: 100%;
}

.img-container {
  background: url("./images/ivan-bandura-aeuAn9A6rvY-unsplash.jpg");
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container h1 {
  color: red;
  z-index: 1;
  margin: 3rem;
}

.img-container__2 {
  background: url("./images/valentina-conde-halHth0Y2-w-unsplash.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 30%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-gamegrid {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-gamegrid--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem;
  width: 12rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

.menu-gamegrid--menu span {
  background: linear-gradient(25deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 255, 0.7));
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin: 0.3rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  border: 1px solid transparent;
}

.menu-gamegrid--menu span a {
  text-decoration: none;
  color: inherit;
}

.menu-gamegrid--menu span:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid red;
}

.menu-gamegrid--grid {
  color: black;
  height: 750px;
  width: 750px;
  border-radius: 1rem;
  overflow: hidden;
}

.menu-gamegrid--grid__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-gamegrid--grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-gamegrid--grid__row span {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 234.375px;
  height: 234.375px;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  background: linear-gradient(37deg, rgba(0, 0, 255, 0.6), rgba(255, 255, 255, 0.7), rgba(0, 128, 0, 0.3));
  opacity: 85%;
  margin: 4px;
  border-radius: 2rem;
  overflow: hidden;
}

.menu-gamegrid--grid__row span p {
  opacity: 0%;
  visibility: hidden;
  background: linear-gradient(173deg, rgba(0, 0, 255, 0.8), green, rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.doughnut {
  position: absolute;
  top: -100%;
  left: -100%;
}

.playerX {
  visibility: hidden;
  opacity: 0;
  color: black;
  font-size: 3rem;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  position: absolute;
  z-index: 2;
  top: 39%;
  left: 39%;
  border: 0.5rem solid black;
  border-radius: 2rem;
  padding: 1rem;
  background: linear-gradient(37deg, rgba(0, 0, 255, 0.5), rgba(0, 128, 0, 0.5), rgba(255, 255, 255, 0.5));
  -webkit-transition: 2s;
  transition: 2s;
}

.playerO {
  visibility: hidden;
  opacity: 0;
  color: black;
  font-size: 3rem;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  position: absolute;
  z-index: 2;
  top: 39%;
  left: 39%;
  border: 0.5rem solid black;
  border-radius: 2rem;
  padding: 1rem;
  background: linear-gradient(37deg, rgba(0, 0, 255, 0.5), rgba(0, 128, 0, 0.5), rgba(255, 255, 255, 0.5));
  -webkit-transition: 2s;
  transition: 2s;
}
/*# sourceMappingURL=main.css.map */